* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Top_section{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    color: white;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;


}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.navbar_menu_container{
    display: flex;
    gap: 20px;

}
.top_section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh-60px);

}
.top_Section_Logo {
    width: 300px;
    height:auto
    
}
.top_section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.top_section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
    flex-direction: row;

}
.input_container_location,
.input_container_search{
    padding: 5px;
    border: none;
    outline: none;
}
.input_container_search{
    width: 65%;
}
.input_container_location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}
.user_icon{
    height: 30px;
    width: 30px ;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    border: solid 1px white;
    display: none;

}
@media screen and (max-width: 600px)
    
{
    .navbar_menu_container .link{
        display: none;
    }
    .navbar{
        padding: 16px;
    }
   .navbar_menu_container .user_icon{
    display: flex;
}
  .Top_section{
    min-height:80vh;
  }
  .top_section_input_container{
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }
  .input_container_location,
  .input_container_search{
    padding: 15px;
    border:none;
    outline: none;
    border: radius 10px;
    width: 80%;
  }
  .top_section_container{
    height: calc(80vh - 60px);
  }
 .top_section_title{
    font-size: 20px;
    width: 80%;
 }
}

.container{
    margin: 3rem auto;
    width: 80%;
}

.we_offer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.we_offer .card{
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    
    overflow: hidden;
}
.we_offer .card:hover{
    transform: scale(1.05);
}

.we_offer .card img{
    width: 300px;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.we_offer .card h2{
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
}
.we_offer .card p {
    font-size: 10px;
    padding: 0 10px 10px 10px;
}

.collection h1{
    font-weight: 700;
    
}

.sub_heading_container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    

}

.sub_heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
}

.collections_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 24px;
}

.collections_card_container .card{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.card1{
    background: url(https://media.gqindia.com/wp-content/uploads/2014/09/cafe-mozaic_1.png);
}
.card2{
    background: url(https://media.gqindia.com/wp-content/uploads/2014/09/cafe-mozaic_1.png);
}
.card3{
    background: url(https://media.gqindia.com/wp-content/uploads/2014/09/cafe-mozaic_1.png);
}
.card4{
    background: url(https://media.gqindia.com/wp-content/uploads/2014/09/cafe-mozaic_1.png);
}

.overlay{
    display: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    border-radius: 10px;
    background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0% ,
      rgba(0, 0, 0, 0.05) 50% ,
      rgba(0, 0, 0, 0.05) 85% 
    );
}

.collections_card_container .card .content {
    position :absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get__the_app .semiContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.get__the_app .semiContainer .left{
    
    flex: 2;
}

.get__the_app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    align-items: center;
    object-position: center;
}

.get__the_app .semiContainer .right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right h1{
    font-weight: 700;
    font-size: 32px;
}

.right p{
    font-size: 12px;
}
.semiContainer .right .buttons_container{
    display: flex;
    align-items: center;
    gap: 24px;
}

.semiContainer .right .buttons_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .buttons_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79 ,95);
}

.semiContainer .right .input_container{
    display: flex;
    gap: 8px;
}

.input_container button ,
.input_container input{
    padding: 10px 12px;
}

.input_container input{
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
    flex: auto;
}

.input_container button{
    border: none;
    background-color: rgb(239, 79 ,95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download__app_container{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.right .download__app_container div{
    display: flex;
    gap: 16px;
}

.right .download__app_container div img{
    width: 35%;
}

@media only screen 
and (max-width : 1300px){
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right{
        flex: 1;
    }

    .get__the_app .semiContainer{
        width: 80%;
    }
}
@media only screen 
and (max-width : 900px){
    .get__the_app{
        padding: 32px;
    }
    .get__the_app .container{
        width: 90%;
    }
}
@media only screen 
and (max-width : 700px){
  .get__the_app {
    padding: 3rem 0;
   }
  .get__the_app .semiContainer{
    width: 80%;
    flex-direction: column;
  }
}

.footer {
    width: 100%;
    background: rgb(248, 248, 248);
    padding: 50px 0;
  }
  
  .footer_section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }


  .footer_section1 img {
    width: 120px;
  }
  
  .section1__buttonContainer {
    display: flex;
    gap: 16px;
  }
  
  .section1__buttonContainer button {
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .navigation_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    padding: 3rem 0;
    gap: 1rem;
  }
  
  .link__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .link__container h5 {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
  }
  
  .footer__link {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
  }
  
  .footer__link:hover {
    color: black;
  }
  
  .social__links_container {
    display: flex;
    gap: 0.5rem;
  }
  
  .social__links_container button {
    
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social__links_container button {
    color: rgb(0, 0, 0);
    font-size: 13px;
  }
  
  .footer__store_logos {
    width: 40%;
    
  }


  @media only screen 
  and (max-width: 900px) {
    .navigation_container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media only screen 
  and (max-width: 600px) {
    .navigation_container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen 
  and (max-width: 450px) {
    .footer_section1 {
      flex-wrap: wrap;
      gap: 24px;
    }
  
    .navigation_container {
      grid-template-columns: 1fr;
    }
  }